/* FolderContent.css */

.folder-content-container {
    display: grid;
    grid-template-columns: 40vw 1fr; /* Colonne gauche fixe (20vw) et colonne droite flexible (1fr) */
    grid-template-rows: 60vh 50vh; /* Rangées pour les sections hautes et basses */
    gap: 10px; /* Espacement entre les éléments */

    box-sizing: border-box;
}

.polygon-label {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    padding: 2px;
}

.folder-list-section {
    grid-column: 1 / 2; /* Colonne 1 */
    grid-row: 1 / 2; /* Rangée 1 */
    background-color: #f4f4f4;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    overflow: auto;
}

.info-panel-section {
    grid-column: 1 / 2; /* Colonne 1 */
    grid-row: 2 / 3; /* Rangée 2 */
    background-color: #f9f9f9;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    overflow: auto;
}

.map-container {
    grid-column: 2 / 3; /* Colonne 2 */
    grid-row: 1 / 2; /* Rangée 1 */
    display: flex;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    height: 100%; /* Assurez-vous que la hauteur est correcte */
    overflow: hidden; /* Éviter les débordements */
}

.filter-container {
    width: 20%; /* Largeur fixe pour le filtre */
    height: 100vh;
    background-color: #f4f4f4;
    border-right: 2px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.map-container {
    width: 80%; /* Prend le reste de l'espace */
    overflow: hidden; /* Assurer que la carte ne déborde pas */
    padding: 10px;
    box-sizing: border-box;
}

.additional-info-table {
    grid-column: 2 / 3; /* Colonne 2 */
    grid-row: 2 / 3; /* Rangée 2 */
    background-color: #f9f9f9;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    overflow: auto;
}
