/* FolderContent.css */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Colonne gauche flexible (1fr) et colonne droite plus large (2fr) */
    grid-template-rows: 1fr 400px; /* Rangées flexibles */
    gap: 10px; /* Espacement entre les éléments */
    height: 100vh; /* Utilise toute la hauteur de l'écran */
    box-sizing: border-box;
}

.polygon-label {
    font-size: 12px;
    font-weight: bold;
    color: #000;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    padding: 2px;
}

.folder-list-container {
    grid-column: 1 / 2; /* Colonne 1 */
    grid-row: 1 / 2; /* Rangée 1 */
    background-color: #f4f4f4;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    overflow: auto;
    max-width: 100%; /* S'assurer que la largeur ne dépasse pas la grille */
    max-height: 100%; /* S'assurer que la hauteur ne dépasse pas la grille */
}

.info-panel-section {
    grid-column: 1 / 2; /* Colonne 1 */
    grid-row: 2 / 3; /* Rangée 2 */
    background-color: #f9f9f9;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    overflow: auto;
    max-width: 100%; /* S'assurer que la largeur ne dépasse pas la grille */
    max-height: 100%; /* S'assurer que la hauteur ne dépasse pas la grille */
}

.map-container {
    grid-column: 2 / 3; /* Colonne 2 */
    grid-row: 1 / 2; /* Rangée 1 */
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    max-width: 100%; /* S'assurer que la largeur ne dépasse pas la grille */
    max-height: 100%; /* S'assurer que la hauteur ne dépasse pas la grille */
    height: 100%; /* Utilise toute la hauteur disponible dans la grille */
    overflow: hidden; /* Éviter les débordements */
}

.other-section {
    grid-column: 2 / 3; /* Colonne 2 */
    grid-row: 2 / 3; /* Rangée 2 */
    background-color: #f9f9f9;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    overflow: auto;
    max-width: 100%; /* S'assurer que la largeur ne dépasse pas la grille */
    max-height: 100%; /* S'assurer que la hauteur ne dépasse pas la grille */
}
