/* Assurez-vous que la carte occupe tout l'espace du conteneur parent */
.map-container {
    position: relative; /* Position relative pour les éléments positionnés à l'intérieur */
    height: 100%; /* Hauteur de la carte égale à celle du conteneur */
    width: 100%;  /* Largeur de la carte égale à celle du conteneur */
}

/* Ajustez la taille de la carte ici si nécessaire */
.map {
    height: 100%; /* Hauteur de la carte égale à celle du conteneur */
    width: 100%;  /* Largeur de la carte égale à celle du conteneur */
}
